#myInput {
  //background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-top: 20px;
  margin-left: 50px;
}

#myTable {
  border-collapse: collapse;

}

.exp {
  margin-top: 25px;
  margin-left: 63%
}

.card{
  margin-left: 50px
}