<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Input</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
</head>

<body onload="myfunc()">

    {% extends "Navigation.html" %}


    {% block content %}

{#        <div class="flex-subcontaioner">#}
{#            <div id="source"><a class="link" href="{% url 'Source' %}">Input Source</a></div>#}
{#            <div id="itm" style="margin-left: 35px"><a class="link" href="{% url 'ITM' %}">Input ITM</a></div>#}
{#            <div id="columns" style="margin-left: 15px"><a class="link" href="{% url 'SelectColumns' %}">Select Columns</a></div>#}
{#            <div id="concate" style="margin-left: 15px" ><a class="link" href="{% url 'CatFieldSelection' %}">Concate Fields</a></div>#}
{#            <div id="prerun" style="margin-left: 15px"><a class="link"  href="{% url 'PreRun' %}">Pre Run</a></div>#}
{#            <div id="replacewords" style="margin-left: 15px"><a class="link" href="{% url 'ReplaceWords' %}">Replace Words</a></div>#}
{#            <div id="csettings" style="margin-left: 15px"><a class="link" href="{% url 'ControlSettings' %}">Control Settings</a></div>#}
{#        </div>#}

    {% endblock %}

</body>

</html>

