<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreRun</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>

</head>

<body onload="myfunc()">

    {% extends "Navigation.html" %}

     {% block content %}
         <h4 style="margin-left:50px;margin-top: 20px"> Select Fileds to Replace</h4>
         <div class="columnnsconcat">
             <form action="" method="get" style="margin: 20px;margin-left: 30px">
                  <label style="display: inline-block">Category 1</label><br>
                  <input  type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
                  <input type="checkbox" name="vehicle" value="Car" checked> I have a car<br>
                  <br>
                  <input type="submit" value="Replace" class="button" style="height: 40px; width: 80%; border: 1px solid gray; border-radius: 2px; cursor: pointer">
            </form>
        </div>

         <p id="fileTitle1" ></p>
         <table class="displaytable" contenteditable="false">
            {% for row in excel_data1 %}
                <tr>
                {% for cell in row %}
                    <td>{{ cell }}&nbsp;</td>
                {% endfor %}
                </tr>
            {%  endfor %}
         </table>

         <div>
            <a class="next" href="{% url 'ReplaceWords' %}">Next</a>
         </div>

    {% endblock %}

</body>

</html>