{% extends "Navigation.html" %}

{% block content %}

   <div class="flex-subcontaioner">
        <div class="subnavigation" id="1" ><a id="columns" style=" text-decoration: none; " class="link navlink" href="{% url 'ConcatCommonFields' %}">Concat Fields</a></div>
        <div class="subnavigation" id="2" ><a  id="concate" style=" text-decoration: none;" class="link navlink" href="{% url 'CatFieldSelection' %}">Categorical Fields</a></div>
        <div class="subnavigation" id="3"  ><a id="prerun" style=" text-decoration: none;" class="link navlink" href="{% url 'ConcatCommonFields' %}">Pre Run</a></div>
        <div class="subnavigation" id="4"  ><a id="replacewords" style=" text-decoration: none;" class="link navlink" href="{% url 'ReplaceWords' %}">Replace Words</a></div>
        <div class="subnavigation" id="5"  ><a id="csettings" style=" text-decoration: none;" class="link navlink" href="{% url 'ControlSettings' %}">Control Settings</a></div>
    </div>

    <h4 style="margin-left:50px;margin-top: 20px"> Select Fileds to Replace</h4>
    <div class="columnnsconcat">
        <form action="" method="get" style="margin: 20px;margin-left: 30px">
            <label style="display: inline-block">Category 1</label><br>
            <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
            <input type="checkbox" name="vehicle" value="Car" checked> I have a car<br>
            <br>
            <input type="submit" value="Replace" class="button"
                   style="height: 40px; width: 80%; border: 1px solid gray; border-radius: 2px; cursor: pointer">
        </form>
    </div>

    <p id="fileTitle1"></p>
    <table class="displaytable" contenteditable="false">
        {% for row in excel_data1 %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}&nbsp;</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div>
        <a class="next" href="{% url 'ReplaceWords' %}">Next</a>
    </div>

{% endblock %}
