{% extends "Navigation.html" %}

{% block content %}

    <div class="flex-subcontaioner">
        <div class="subnavigation" id="1"><a id="columns" style=" text-decoration: none; color: white;" class="link navlink"
                                             href="{% url 'ConcatCommonFields' %}">Concat Fields</a></div>
        <div class="subnavigation" id="2"><a id="concate" style=" text-decoration: none;color:white" class="link navlink">Categorical
            Fields</a></div>
        {#        <div class="subnavigation" id="3"  ><a id="prerun" style=" text-decoration: none;" class="link navlink" href="{% url 'PreRun' %}">Pre Run</a></div>#}
        <div class="subnavigation" id="4" style="background-color: white"><a id="replacewords" style=" text-decoration: none;color: black" class="link navlink">Replace
            Words</a></div>
        <div class="subnavigation" id="5"><a id="csettings" style=" text-decoration: none;color: white" class="link navlink">Control
            Settings</a></div>
    </div>


    <div class="InputFileds instruction">
    The list shows the suggested replacement that will help to get more alike data set. You can also add items to the list in the required format for replacement.
    </div>
    <div class="layout">
        <h4 class="topsection"> Replace Words From Other File</h4>
        <div style="margin-top: 15px;margin-left: 67%">
        <a class="next" style="text-decoration: none;color: darkorange" href="{% url 'ControlSettings' %}">Next</a>
        </div>
    </div>
    <div class="InputFileds">
        <form action="{% url "ReplaceWords" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="layout">
                <h5 class="pagetitle">Select File:</h5>
                <div class="instruction InputFileds" style="height: 20%;">Selected file should contain only two columns with out header.</div>
            </div>
            <input id="uploadRWfile" type="file" title="Upload excel file" name="ReplaceWords_file" class="Commoninput"
                   required="required">
            <input type="submit" class="button" value="Upload Files" style="margin-top: 10px;height: 30px; width: 8%; border: 1px solid gray; border-radius: 2px; cursor: pointer">
        </form>
    </div>


    <h4 class="topsection"> Replace Words From Given List</h4>

    <div >
        <table class="displaytable" contenteditable="false" >
            {% for col_val in replaceData.columns.tolist %}
                <th style="width: 50%;background-color:lightgray">
                    {{ col_val }}
                </th>
            {% endfor %}
        </table>

        <table class="displaytable" contenteditable="false">
            {% for index, row in replaceData.iterrows %}
                <tr>
                    {% for str_val in row.values %}
                        <th style="width: 50%">{{ str_val }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

{#        <form method="POST" enctype="multipart/form-data" action="{% url 'ReplaceWords' %}">#}
{#            {% csrf_token %}#}
{#            <button class="button" type="submit" value="Upload Files" style="margin-top: 10px;height: 30px;margin-left:89.5%"  >Replace Words</button>#}
{#        </form>#}

    </div>

    <div id="status" style="color: white;">{{ ColumnLength }}</div>

    <script>
         function alertFunction() {
             var status;
             status = document.getElementById('status').innerText;
             console.log(status);
             if (status=="False"){
                 alert('The uploaded file contains more than required. Please upload a valid file.');
             }
         }
         window.onload = alertFunction;
      </script>

{#    <a class="next" style="text-decoration: none;color: darkorange" href="{% url 'ControlSettings' %}">Next</a>#}

{% endblock %}
